*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
!**.pro
keystore.properties
local.properties
log.txt
.gradle
.idea/gradle.xml
.idea/libraries
.idea/runConfigurations
.idea/misc.xml
.idea/modules.xml
.idea/tasks.xml
.idea/workspace.xml
.idea/sonarlint
.idea
build
*/build
build/intermediates/gradle_project_sync_data.bin
captures
app/app.iml
